/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 2rem;
  padding-bottom: 10rem;
  color: #5a5a5a;
}

/*ImAGE sTUFF*/
.container {
  position: relative;
  text-align: center;
  color: white;
}

footer{
  background-color: teal;
}

.leftAline{
  text-align: left;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2000%;
  transform: translate(-50%, -50%);
  color: black;
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */


  .featurette-heading {
    font-size: 50px;
  }



